* {
    margin: 0px;
    padding: 0
    ;
}

body {
    margin: 20%;
    background-color: hsl(0, 0%, 8%);
}

main {
    margin: auto;
    background-color: hsl(0, 0%, 12%);
}

header {
    color: white;
}

img {
    border-radius: 100px;
}

h2 {
    color: hsl(75, 94%, 57%);
}

a {
    text-decoration: none;
    color: white;
}